In [ ]:
# This is a single-Line comment

In [ ]:
'''
This is a multi-line comment
that spans several lines.
It is often used for documentation
or detailed explanations.

'''

In [1]:
# Import libraries
import pandas as pd  # Importing pandas for data manipulation
import numpy as np   # Importing numpy for numerical operations

In [2]:
# Load dataset
data = pd.read_csv('D:/07_AI_Digital_Marketing_Platform/01_python_basics/data/marketing_campaign_data.csv')

In [3]:
data.head()  # Display the first few rows of the dataset

,campaign_id,channel,impressions,clicks,conversions,cost,revenue,date
0,C001,Google Ads,12000.0,420,38.0,15000,38000,2024-01-05
1,C002,Facebook Ads,18000.0,510,42.0,17000,41000,2024-01-06
2,C003,Instagram Ads,15000.0,390,30.0,14000,29000,2024-01-07
3,C004,Email Marketing,8000.0,640,96.0,4000,48000,2024-01-08
4,C005,SEO,22000.0,880,110.0,6000,62000,2024-01-09

In [4]:
# Understand the data
data.info()  # Get a concise summary of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   campaign_id  8 non-null      object
 1   channel      8 non-null      object
 2   impressions  7 non-null      float64
 3   clicks       8 non-null      int64
 4   conversions  7 non-null      float64
 5   cost         8 non-null      int64
 6   revenue      8 non-null      int64
 7   date         8 non-null      object
dtypes: float64(2), int64(3), object(3)
memory usage: 640.0+ bytes

In [6]:
data.describe()

        impressions      clicks  conversions          cost       revenue
count      7.000000    8.000000     7.000000      8.000000      8.000000
mean   14142.857143  456.250000    50.142857  12125.000000  31625.000000
std     4775.931722  250.538705    38.834815   4703.721931  21836.650057
min     8000.000000    0.000000     0.000000   4000.000000      0.000000
25%    11000.000000  382.500000    32.500000  10500.000000  21750.000000
50%    14000.000000  435.000000    38.000000  13500.000000  36500.000000
75%    16500.000000  542.500000    69.000000  15250.000000  42750.000000
max    22000.000000  880.000000   110.000000  17000.000000  62000.000000

In [7]:
data.head()  # Display the first few rows of the dataset

,campaign_id,channel,impressions,clicks,conversions,cost,revenue,date
0,C001,Google Ads,12000.0,420,38.0,15000,38000,2024-01-05
1,C002,Facebook Ads,18000.0,510,42.0,17000,41000,2024-01-06
2,C003,Instagram Ads,15000.0,390,30.0,14000,29000,2024-01-07
3,C004,Email Marketing,8000.0,640,96.0,4000,48000,2024-01-08
4,C005,SEO,22000.0,880,110.0,6000,62000,2024-01-09

In [9]:
# Marketing KPI Calculations
data['CTR'] = data['clicks'] / data['impressions'] * 100  # Click-Through Rate
data['Conversion_Rate'] = data['conversions'] / data['clicks'] * 100  # Conversion Rate
data['CPC'] = data['cost'] / data['clicks']  # Cost Per Click
data['CPA'] = data['cost'] / data['conversions']  # Cost Per Acquisition
data['ROI'] = (data['revenue'] - data['cost']) / data['cost'] * 100  # Return on Investment
data.head()  # Display the first few rows with new KPIs

,campaign_id,channel,impressions,clicks,conversions,cost,revenue,date,CTR,Conversion_Rate,CPC,CPA,ROI
0,C001,Google Ads,12000.0,420,38.0,15000,38000,2024-01-05,3.500000,9.047619,35.714286,394.736842,153.333333
1,C002,Facebook Ads,18000.0,510,42.0,17000,41000,2024-01-06,2.833333,8.235294,33.333333,404.761905,141.176471
2,C003,Instagram Ads,15000.0,390,30.0,14000,29000,2024-01-07,2.600000,7.692308,35.897436,466.666667,107.142857
3,C004,Email Marketing,8000.0,640,96.0,4000,48000,2024-01-08,8.000000,15.000000,6.250000,41.666667,1100.000000
4,C005,SEO,22000.0,880,110.0,6000,62000,2024-01-09,4.000000,12.500000,6.818182,54.545455,933.333333

In [10]:
# Handle Edge Cases
data.replace([np.inf, -np.inf], np.nan, inplace=True)  # Replace infinite values with NaN
data.fillna(0, inplace=True)  # Fill NaN values with 0

In [11]:
# Business Insights Output
average_ctr = data['CTR'].mean()
average_conversion_rate = data['Conversion_Rate'].mean()
print(f'Average CTR: {average_ctr:.2f}%')
print(f'Average Conversion Rate: {average_conversion_rate:.2f}%')

Average CTR: 2.94%
Average Conversion Rate: 7.53%

In [12]:
# Save Clean Output
data.to_csv('D:/07_AI_Digital_Marketing_Platform/01_python_basics/data/marketing_campaign_data_with_kpis.csv', index=False)

In [13]:
# Basic Data Types in Python utilized: in this project are:
# 1. Integers and Floats: For numerical calculations (e.g., clicks, impressions, cost).
# 2. Strings: For handling text data (e.g., campaign names, dates).
# 3. Booleans: For conditional checks (e.g., filtering data).
# 4. Lists and Dictionaries: For storing collections of data (e.g., lists of campaigns, mapping campaign IDs to names).
# 5. DataFrames (from pandas library): For structured data manipulation and analysis.
# 6. NumPy Arrays: For efficient numerical computations and handling of large datasets.

In [15]:
# 02 . Integrate Data Types INTO PROJECT
# The data types mentioned above are integrated into the project through the use of pandas DataFrames for structured data manipulation, numpy arrays for numerical computations, and standard Python data types for various calculations and data handling tasks.

# 03. Type Checking
print("Data Types:")
print(data.dtypes)
# Type checking is performed using the .dtypes attribute of the pandas DataFrame to ensure that each column has the expected data type for accurate calculations and analysis.

Data Types:
campaign_id         object
channel             object
impressions        float64
clicks               int64
conversions        float64
cost                 int64
revenue              int64
date                object
CTR                float64
Conversion_Rate    float64
CPC                float64
CPA                float64
ROI                float64
dtype: object

In [18]:
data.columns

Index(['campaign_id', 'channel', 'impressions', 'clicks', 'conversions',
       'cost', 'revenue', 'date', 'CTR', 'Conversion_Rate', 'CPC', 'CPA',
       'ROI'],
      dtype='object')

In [19]:
print("Data Types:")
print(type(data['clicks'][0]))  # Example of checking the type of a specific column's first element
print(type(data['campaign_id'][0]))  # Example of checking the type of a string column's first element

Data Types:
<class 'numpy.int64'>
<class 'str'>

In [20]:
#Explicit Type Conversion
data['clicks'] = data['clicks'].astype(int)
data['impressions'] = data['impressions'].astype(int)   
data['cost'] = data['cost'].astype(float)
data['conversions'] = data['conversions'].astype(int)
data['revenue'] = data['revenue'].astype(float)
data.dtypes

campaign_id         object
channel             object
impressions          int64
clicks               int64
conversions          int64
cost               float64
revenue            float64
date                object
CTR                float64
Conversion_Rate    float64
CPC                float64
CPA                float64
ROI                float64
dtype: object

In [ ]:
# 01. Indentation
age = 32
if age >= 18:
    print("You are an adult.")
    print("You can vote.")
else:
    print("You are a minor.")
    print("You cannot vote.")

You are an adult.
You can vote.

In [2]:
# 02. Line Continuation
total = (1 + 2 + 3 +
         4 + 5 + 6 +
         7 + 8 + 9)

In [3]:
# 03. Multiple Statements on One Line
x = 10; y = 20; z = x + y; print(z)

30

In [4]:
# 04. Variable Assignment & Type Inference
a = 5               # Integer
b = 3.14            # Float
c = "Hello, World!" # String
d = [1, 2, 3, 4, 5] # List
e = (10, 20, 30)    # Tuple
f = {'name': 'Alice', 'age': 30} # Dictionary
print(type(a), type(b), type(c), type(d), type(e), type(f))

<class 'int'> <class 'float'> <class 'str'> <class 'list'> <class 'tuple'> <class 'dict'>

In [5]:
# 05. Dynamic Typing (Correct)
var = 10
print(var, type(var))
var = "Now I'm a string"
print(var, type(var))

10 <class 'int'>
Now I'm a string <class 'str'>

In [6]:
# 06. Indentation Error
def faulty_function():
print("This line is not indented properly.")
faulty_function()

IndentationError: expected an indented block after function definition on line 2 (1058236884.py, line 3)

In [7]:
# 07. Name Error (Correct)
def greet():
    print("Hello, there!")
greet()  # Correct usage
greet_user()  # This will raise a NameError

Hello, there!

NameError: name 'greet_user' is not defined

In [21]:
# Add Boolean Column
data['is_profitable'] = data['ROI'] > 0 
data.head()

,campaign_id,channel,impressions,clicks,conversions,cost,revenue,date,CTR,Conversion_Rate,CPC,CPA,ROI,is_profitable
0,C001,Google Ads,12000,420,38,15000.0,38000.0,2024-01-05,3.500000,9.047619,35.714286,394.736842,153.333333,True
1,C002,Facebook Ads,18000,510,42,17000.0,41000.0,2024-01-06,2.833333,8.235294,33.333333,404.761905,141.176471,True
2,C003,Instagram Ads,15000,390,30,14000.0,29000.0,2024-01-07,2.600000,7.692308,35.897436,466.666667,107.142857,True
3,C004,Email Marketing,8000,640,96,4000.0,48000.0,2024-01-08,8.000000,15.000000,6.250000,41.666667,1100.000000,True
4,C005,SEO,22000,880,110,6000.0,62000.0,2024-01-09,4.000000,12.500000,6.818182,54.545455,933.333333,True

In [22]:
# Apply String Methods
data['campaign_id'] = data['campaign_id'].str.upper()
data.head()

,campaign_id,channel,impressions,clicks,conversions,cost,revenue,date,CTR,Conversion_Rate,CPC,CPA,ROI,is_profitable
0,C001,Google Ads,12000,420,38,15000.0,38000.0,2024-01-05,3.500000,9.047619,35.714286,394.736842,153.333333,True
1,C002,Facebook Ads,18000,510,42,17000.0,41000.0,2024-01-06,2.833333,8.235294,33.333333,404.761905,141.176471,True
2,C003,Instagram Ads,15000,390,30,14000.0,29000.0,2024-01-07,2.600000,7.692308,35.897436,466.666667,107.142857,True
3,C004,Email Marketing,8000,640,96,4000.0,48000.0,2024-01-08,8.000000,15.000000,6.250000,41.666667,1100.000000,True
4,C005,SEO,22000,880,110,6000.0,62000.0,2024-01-09,4.000000,12.500000,6.818182,54.545455,933.333333,True

In [23]:
data["channel"] = data["channel"].str.strip().str.title()
data["campaign_id"] = data["campaign_id"].str.upper()

In [24]:
data

,campaign_id,channel,impressions,clicks,conversions,cost,revenue,date,CTR,Conversion_Rate,CPC,CPA,ROI,is_profitable
0,C001,Google Ads,12000,420,38,15000.0,38000.0,2024-01-05,3.500000,9.047619,35.714286,394.736842,153.333333,True
1,C002,Facebook Ads,18000,510,42,17000.0,41000.0,2024-01-06,2.833333,8.235294,33.333333,404.761905,141.176471,True
2,C003,Instagram Ads,15000,390,30,14000.0,29000.0,2024-01-07,2.600000,7.692308,35.897436,466.666667,107.142857,True
3,C004,Email Marketing,8000,640,96,4000.0,48000.0,2024-01-08,8.000000,15.000000,6.250000,41.666667,1100.000000,True
4,C005,Seo,22000,880,110,6000.0,62000.0,2024-01-09,4.000000,12.500000,6.818182,54.545455,933.333333,True
5,C006,Google Ads,10000,0,0,12000.0,0.0,2024-01-10,0.000000,0.000000,0.000000,0.000000,-100.000000,False
6,C007,Facebook Ads,0,450,35,16000.0,35000.0,2024-01-11,0.000000,7.777778,35.555556,457.142857,118.750000,True
7,C008,Instagram Ads,14000,360,0,13000.0,0.0,2024-01-12,2.571429,0.000000,36.111111,0.000000,-100.000000,False